.yjx-drug .yjx-home-floor2 {
  display: flex;
  width: 1200px;
  height: 370px;
  margin: auto;
  margin-top: 28px;
  border-radius: 10px;
}

.yjx-drug .yjx-home-floor3 {
  margin: 28px auto 0;
  width: 1200px;
}

.yjx-drug .yjx-home-floor3 .big-card {
  border-radius: 10px;
}

.yjx-drug .yjx-home-floor3 .big-card .more {

  margin-right: 8px;
  margin-left: 18px;
}

.yjx-drug .yjx-home-floor3 .big-card .more a {
  color: #000000a6;
}

.yjx-drug .yjx-home-floor3 .big-card .more a:hover {
  color: coral;
}

.yjx-drug .yjx-home-floor3 .ant-card {
  margin-right: 17px;
}

.yjx-drug .yjx-home-floor3 .ant-card .ant-card-cover>* {
  display: initial;
}
.yjx-drug .yjx-home-floor3 .ant-card .ant-card-cover{
  height: 170px;
}

.yjx-drug .yjx-home-floor3 .ant-card .ant-card-cover img {
  width: 200px;
  height: 170px;
}

.yjx-drug .yjx-home-floor3 .ant-card .ant-card-body {
  padding: 18px 17px;
}

.yjx-drug .yjx-home-floor3 .drug-allCard {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 16px;
}

.yjx-drug .yjx-home-floor3 .drug-card {
  margin-bottom: 20px;
  margin-top: 0;
}

.yjx-drug .yjx-home-floor3 .drug-allCard div:hover {
  color: #ff2c30;
}

.yjx-drug .yjx-home-floor3 .ant-card-head-title {
  font-size: 21px;
  padding: 16px 0 8px 56px;
  color: #000000a6;
}

.yjx-drug .yjx-home-floor3 .ant-card-meta-title {
  color: #000000a6;
}