.helpCenter {
  width: 1100px;
  margin: auto;
  margin-bottom: 28px;

  .breadcrumb {
    text-align: left;
    font-size: 16px;
    height: 56px;
    line-height: 56px;
    color: #000000a6;

    span {
      cursor: pointer;
    }

    span:hover {
      color: #1890ff;
    }

    .icon-right {
      font-size: 14px;
      color: #000000a6;
    }
  }

  a {
    color: #000000a6;
  }

  a:hover {
    color: #1890ff;
  }

  .center {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    color: #606266;
    padding: 38px;
    min-height: 400px;

    .saleService {
      text-align: left;

      h2 {
        text-align: center;
        color: coral;
        margin-top: 28px;
      }

      img {
        margin-left: 58px;
      }
    }
  }
}